/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(255,0,176);
    background: radial-gradient(circle, rgba(255,0,176,1) 2%, rgba(60,19,87,1) 93%);
}